[report]
exclude_also =
    def __repr__
    def __str__
    raise ValueError
    raise KeyError
    except KeyError
    except Exception
    if __name__ == '__main__'
    def main
    def parse
    def _get_client
[run]
omit =
    # Not testing coverage for GUI
    */removefamilygui.py
