*/
!redpy/
!redpy/outputs/
!redpy/scripts/
!tests/
!tests/data/
!h5/
!runs/
!scripts/
!scripts/analysis/
!scripts/plotting/
!scripts/setup/
!logs/
!papers/
*.pyc
*.csv
!axial_catalog.csv
*.cfg
!axial_settings.cfg
*.h5
*.out
*.sh
!scripts/setup/*.sh
*.txt
*.html
*.new
*.mseed
*.log
.coverage
.DS_Store
